* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(240, 178, 72);
}

.container {
    text-align: center;
    padding: 3rem 0;
}

img {
    max-width: 70%;
}

.h1-font-size {
    font-size: 3rem;
}

.h1-font {
    font-family: Georgia, 'Times New Roman', Times, serif;
}